@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

  background: var(--foreground-rgb); 
}

.sidetoolbar-topButton{
  justify-content: space-around;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btnGroup{
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.dot{
  width: 20px;
  height: 20px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  float: inline-end;
  margin: 7px;
}
.builderHeader{
  background-color: 	#ADADAD;
}
.builderToolbarBottomBorder{
  border-bottom: 1px solid gray;
}
.sidetoolbarGrid{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 0.5rem;
  margin-right: 0.5rem;
  
}
.fieldListSidetoolbar{
  border: 1px solid lightgray;
  box-shadow: 0 0 10px lightgray; 
}