/* No longer in Use */
.btnGroup{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.dot{
    width: 20px;
    height: 20px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    float: inline-end;
    margin: 7px;
}